{% extends 'base.html' %}
{% block title %} A Compliment{% endblock %}
{% block content %}
    Hi {{ person }}! I think you're
    {% for compliment in compliments %} 
    {% if loop.length == 1 %}
        {{ compliment }}.
    {% elif loop.length == 2 %}
        {% if loop.last %}
            {{ compliment }}.
        {% else %}
            {{ compliment }} and 
        {% endif %}
    {% else %}
        {% if loop.last %}
            and {{ compliment }}.
        {% else %}
            {{ compliment }},
        {% endif %}
    {% endif %}
{% endfor %} 
    <form action="/game">
    Would you like to play a game?
    <input type="radio" name="answer-game" value="yes">Yes
    <input type="radio" name="answer-game" value="no"> No
    <input type="submit">
    </form>
{% endblock %}