{% extends 'base.html' %}

{% block title %}Madlib Results{% endblock %}

{% block content %}
<h2>Here is your Madlib!</h2>
<p>One day, {{ person }} decided to go to the beach. {{ person }} {{ verb }} all 
their friends ({{ num }} of them), but none of them could come. One was busy fighting off
the biggest {{ noun }} ever. So, dejected, {{ person }} drove in their {{ color }}
car to the beach. {{ person }} had a good time, but got sand in their precious
{% for cloth in clothes %} 
    {% if loop.length == 1 %}
        {{ cloth }}
    {% elif loop.length == 2 %}
        {% if loop.last %}
            {{ cloth }}
        {% else %}
            {{ cloth }} and 
        {% endif %}
    {% else %}
        {% if loop.last %}
            and {{ cloth }}
        {% else %}
            {{ cloth }},
        {% endif %}
    {% endif %}
{% endfor %}.</p>
{% endblock %}